.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(45deg, #1b1c1f, #141a20);
    justify-content: space-between;
    position: relative;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 99;
}

.header img {
    width: 220px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.header img:hover {
    transform: scale(1.05);
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-info h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
}

.header-info span {
    font-size: 1.5rem;
    color: #ecf0f1;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    font-size: 1.5rem;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    order: 1;
}

.header ul.active {
    opacity: 1;
    max-height: 500px;
}

.header li {
    padding: 10px 15px;
    background-color: rgb(62, 62, 62);
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header li a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

.header li:hover {
    filter: brightness(1.5); 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header svg {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    order: 2;
    margin-left: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header svg:hover {
    color: #1d1a74;
    transform: rotate(20deg) scale(1.2);
}

@media (min-width: 856px) and (max-width: 1435px) {
    .header ul {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
}

@media (max-width: 810px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .header ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
    }

    .header ul li {
        width: 100%;
        justify-content: space-between;
    }

    .header img {
        width: 150px;
    }

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.header-info svg {
    animation: bounce 1.5s infinite;
}
