.home {
    padding: 20px 40px;
    background: linear-gradient(45deg, #1b1c1f, #141a20);
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
    margin-top: 265px;
}

.home .questions-info {
    padding: 20px;
    box-shadow: 11px 6px 13px -12px rgba(0, 0, 0, 0.75);
    background: linear-gradient(45deg, #1b1c1f, #141a20);
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home .questions-info:hover {
    background-color: #2d3136;
    transform: translateY(-5px);
}

.home .question {
    padding: 20px 40px;
    box-shadow: 11px 6px 13px -4px rgba(0, 0, 0, 0.75);
    background-color: #2d3136;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
}

.home .question:hover {
    transform: scale(1.02);
    background-color: #35393f;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.home .question-header {
    display: flex;
    align-items: center;
}

.home .question .question-info {
    font-size: 1.35rem;
    margin-bottom: 10px;
    margin: 10px auto;
    font-weight: bold;
    color: #ffffff;
}

.home .question .answer {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #b3b3b3;
    transition: color 0.3s ease;
}

.home .question:hover .answer-info {
    color: #ecf0f1; 
}

@media (max-width: 1094px) {
    .home {
        margin-top: 310px;
    }
}

@media (max-width: 810px) {
    .home {
        margin-top: 0;
    }
    .home .questions-info {
        gap: 30px;
    }

    .home .question {
        padding: 15px 25px;
    }

    .home .question .question-info {
        font-size: 1.2rem;
        justify-content: center;
    }
    .home .question .answer-info {
        font-size: 1rem;
    }
}

